/* Override any custom styles as needed */
h1 {
  font-size: 40px; /* You can adjust this based on your design */
}

h2 {
  font-size: 18px;
}

.table-danger {
  background-color: #850000;
  color: white;
}

.btn-danger {
  background-color: #850000;
  border-color: #850000;
}

.btn-danger:hover {
  background-color: #670000;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
}
